html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 25px;
}

h2 {
  font-weight: 800;
  font-size: 18px;
}

h3 {
  font-family: 'shrikhand', sans-serif;
  font-weight: 500;
  font-size: 28px;
}

.btn {
  color: white;
  background: linear-gradient(151deg, #ff79da 0%, #9356dc 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 5px grey;
          box-shadow: 0px 2px 5px grey;
  padding: 16px 22px;
}

.btn:hover {
  opacity: .7;
  -webkit-box-shadow: 0px 5px 10px grey;
          box-shadow: 0px 5px 10px grey;
}

.functioning-card {
  background-color: #F2F2F2;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 10px lightgrey;
          box-shadow: 0px 2px 10px lightgrey;
  height: 70px;
  margin-bottom: 25px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functioning-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -13px;
  margin-right: 50px;
}

.functioning-card .functioning-card-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 20px;
}

.functioning-card i {
  color: grey;
  font-size: 15px;
  margin-right: 20px;
}

.functioning-card .mobile {
  font-size: 20px;
}

.functioning-card .functioning-card-text {
  font-weight: 700;
}

.colored-card {
  background-color: rgba(147, 86, 220, 0.1);
}

.colored-card i {
  color: #9356dc;
}

.restaurant-card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 5px lightgrey;
          box-shadow: 0px 2px 5px lightgrey;
  margin-bottom: 25px;
  height: 250px;
  overflow: hidden;
}

.restaurant-card .img-container {
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.restaurant-card img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.restaurant-card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restaurant-card .new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  color: #098D6D;
  border-radius: 2px;
  font-weight: 700;
  font-size: 15px;
}

.restaurant-card .restaurant-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 10px;
}

.restaurant-card .restaurant-location {
  margin-top: 5px;
}

.restaurant-card:hover {
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
}

.heart {
  display: block;
  position: relative;
  font-size: 25px;
  cursor: pointer;
}

.heart .fas, .heart .far {
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.heart .fas {
  color: #ff79da;
  opacity: 0;
}

.heart:hover .fas {
  -webkit-animation: color-change 1s ease-in-out forwards;
          animation: color-change 1s ease-in-out forwards;
}

.stages {
  margin-bottom: 40px;
}

.stages .stage-title {
  opacity: 0;
}

.stages .menu-card, .stages .menu-card-4 {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 10px lightgrey;
          box-shadow: 0px 2px 10px lightgrey;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px -8px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

.stages .menu-card .menu-text, .stages .menu-card-4 .menu-text {
  overflow: hidden;
  padding: 15px 10px;
}

.stages .menu-card .menu-text h2, .stages .menu-card .menu-text p, .stages .menu-card-4 .menu-text h2, .stages .menu-card-4 .menu-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stages .menu-card .menu-text h2, .stages .menu-card-4 .menu-text h2 {
  margin-bottom: 5px;
}

.stages .menu-card .menu-slider, .stages .menu-card-4 .menu-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: margin .3s ease-in-out;
  transition: margin .3s ease-in-out;
  margin-right: -65px;
}

.stages .menu-card .menu-slider .menu-price, .stages .menu-card-4 .menu-slider .menu-price {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 15px 10px;
  font-weight: 600;
}

.stages .menu-card .menu-slider .check, .stages .menu-card-4 .menu-slider .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  width: 65px;
}

.stages .menu-card .menu-slider .check .fas, .stages .menu-card-4 .menu-slider .check .fas {
  font-size: 20px;
  color: white;
}

.stages .menu-card:hover .menu-slider, .stages .menu-card-4:hover .menu-slider {
  margin-right: 0;
}

.stages .menu-card:hover .menu-slider .fas, .stages .menu-card-4:hover .menu-slider .fas {
  -webkit-animation: rotate .4s .1s ease-in-out forwards;
          animation: rotate .4s .1s ease-in-out forwards;
}

.stages .slide-1 {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-animation: slide-in 1s .6s ease-in-out forwards;
          animation: slide-in 1s .6s ease-in-out forwards;
}

.stages .slide-2 {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-animation: slide-in 1s .8s ease-in-out forwards;
          animation: slide-in 1s .8s ease-in-out forwards;
}

.stages .slide-3 {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-animation: slide-in 1s 1s ease-in-out forwards;
          animation: slide-in 1s 1s ease-in-out forwards;
}

.stages .slide-4 {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-animation: slide-in 1s 1.2s ease-in-out forwards;
          animation: slide-in 1s 1.2s ease-in-out forwards;
}

.stages .slide-5 {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-animation: slide-in 1s 1.4s ease-in-out forwards;
          animation: slide-in 1s 1.4s ease-in-out forwards;
}

@-webkit-keyframes slide-in {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes color-change {
  0% {
    opacity: 0;
  }
  50% {
    color: #ff79da;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #9356dc;
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    opacity: 0;
  }
  50% {
    color: #ff79da;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #9356dc;
    opacity: 1;
  }
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: disappear 3s ease-out forwards;
          animation: disappear 3s ease-out forwards;
}

.loader {
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader i {
  font-size: 70px;
  margin: 0 10px;
}

.loader .d1 {
  color: #ff79da;
  -webkit-animation: bounce .5s ease-in-out infinite alternate;
          animation: bounce .5s ease-in-out infinite alternate;
}

.loader .d2 {
  color: #99e2d0;
  -webkit-animation: bounce .5s .1s ease-in-out infinite alternate;
          animation: bounce .5s .1s ease-in-out infinite alternate;
}

.loader .d3 {
  color: #ff79da;
  -webkit-animation: bounce .5s .2s ease-in-out infinite alternate;
          animation: bounce .5s .2s ease-in-out infinite alternate;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  40% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    color: #9356dc;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  40% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    color: #9356dc;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  max-height: 30px;
}

.header .header-logo {
  width: 40%;
  max-width: 300px;
}

.header .back-arrow {
  font-size: 20px;
  position: absolute;
  left: 20px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 40px 20px 20px 20px;
}

footer .footer-logo {
  -webkit-filter: invert(100%);
  width: 150px;
  margin-bottom: 20px;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

footer .footer-content a i {
  margin-right: 10px;
  font-size: 12px;
}

.location {
  background-color: #EAEAEA;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -2px 5px grey;
          box-shadow: 0px -2px 5px grey;
}

.location p {
  color: #353535;
  margin-left: 15px;
  font-weight: 600;
}

.introduction {
  background-color: #F2F2F2;
  text-align: center;
  padding: 40px 10px;
}

.introduction h1 {
  margin: 0 30px;
}

.introduction p {
  margin: 0 15px;
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}

.introduction .explore {
  margin: 40px 0 30px 0;
}

.functioning {
  padding: 50px 20px;
}

.functioning h1 {
  margin-bottom: 30px;
}

.restaurants {
  padding: 50px 20px;
  background-color: #F2F2F2;
}

.restaurants h1 {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .functioning, .restaurants-content {
    margin: auto;
    max-width: 1440px;
  }
  .functioning .functioning-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .functioning .functioning-card {
    width: 30%;
  }
  .restaurants .restaurant-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants .restaurant-cards .restaurant-card {
    width: 48%;
  }
}

.banner {
  height: 30%;
  max-height: 300px;
}

.banner img {
  height: 100%;
  max-height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 1440px;
  margin-top: -50px;
  padding: 0 20px;
  background-color: #F2F2F2;
  border-radius: 35px 35px 0 0;
}

.menu .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.menu .menu-stage {
  margin-bottom: 50px;
}

.menu .menu-stage .stage-title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.menu .menu-stage .stage-title span {
  border-bottom: solid 3px #99e2d0;
  padding-bottom: 5px;
}

.menu .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 90px;
}

.menu .order a {
  padding: 16px 50px;
}

@media (min-width: 992px) {
  .menu .menu-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .menu-header h3 {
    font-size: 40px;
  }
  .menu .menu-header .heart {
    font-size: 32px;
    margin-left: 50px;
  }
  .menu .stages {
    margin: 20px 30px;
  }
  .menu .stages .stage-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    margin-bottom: 0px;
  }
  .menu .stages .menu-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu .stages .menu-cards .menu-card {
    width: 33%;
  }
  .menu .stages .menu-cards .menu-card-4 {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */