.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    & .header-logo {
    width: 40%;
    }
    & .back-arrow {
        font-size: 20px;
        position: absolute;
        left: 20px;
    }
}