.location {
    background-color: #EAEAEA;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -2px 5px grey;
    & p {
        color: #353535;
        margin-left: 15px;
        font-weight: 600;
    }
}

.introduction {
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 40px;
    & h1 {
        margin: 0 30px;
    }
    & p {
        margin: 0 15px;
        font-size: 18px;
        font-weight: 300;
        padding-top: 20px;
    }
    & button {
        margin: 20px 30px 40px 30px;
    }
}

.functioning {
    margin: 50px 20px;
    & h1 {
        margin-bottom: 30px;
    }
}

.restaurants {
    padding: 50px 20px;
    background-color: #F2F2F2;
    & h1 {
        margin-bottom: 30px;
    }

}

