.location {
    background-color: #EAEAEA;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -2px 5px grey;
    & p {
        color: #353535;
        margin-left: 15px;
        font-weight: 600;
    }
}

.introduction {
    background-color: #F2F2F2;
    text-align: center;
    padding: 40px 10px;
    & h1 {
        margin: 0 30px;
    }
    & p {
        margin: 0 15px;
        font-size: 18px;
        font-weight: 300;
        padding-top: 20px;
    }
    & .explore {
        margin: 40px 0 30px 0;
    }
}

.functioning {
    margin: 50px 20px;
    & h1 {
        margin-bottom: 30px;
    }
}

.restaurants {
    padding: 50px 20px;
    background-color: #F2F2F2;
    & h1 {
        margin-bottom: 30px;
    }

}


// Tablet

@media screen and (min-width: 768px) {

}


// Desktop

@media screen and (min-width: 992px) {

    .functioning {
        & .functioning-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
        & .functioning-card {
            width: 30%;
        }
    }

    .restaurants {
        & .restaurant-cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            & .restaurant-card {
                width: 45%;
            }
        }
    }

}

